name: Build & Release APK

on:
  push:
    branches:
      - main  

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.32.8'  

      - name: Install dependencies
        run: flutter pub get

      - name: Create .env file from secrets
        run: |
          echo "CLOUDINARY_CLOUD_NAME=${{ secrets.CLOUDINARY_CLOUD_NAME }}" >> .env
          echo "CLOUDINARY_UPLOAD_PRESET=${{ secrets.CLOUDINARY_UPLOAD_PRESET }}" >> .env
          echo "CLOUDINARY_API_KEY=${{ secrets.CLOUDINARY_API_KEY }}" >> .env

      - name: Build APK
        run: flutter build apk --release --obfuscate --split-debug-info=build/debug_info --split-per-abi

      - name: Upload APK to Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/flutter-apk/app-arm64-v8a-release.apk"
          tag: v1.0.${{ github.run_number }}
          token: ${{ secrets.MY_GITHUB_TOKEN }}

